* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

:root {
    --yellow: #feca1b;
    --creamy: #e5e3d6;
    --red: #d42f22;
    --grey: #393632;
    --brown: #cc8868;
  }

a {
    text-decoration: none;
    color: var(--creamy);
    display: inline-block;
    font-size: 1vw;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2 {font-size: 3vw;}

h3 {font-size: 2vw;}

h4 {font-size: 1.4vw;
text-transform: uppercase;}

img {
    width:100%;
    height: auto;
  }

.flex {
    display: flex;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

header {
    background-image: url(pictures/HEADER.png);
    height: 90vh;
    background-size: cover;
    background-position-y: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.8fr 0.5fr 1fr; 
}

/* NAV */

.main-nav {
    list-style: none;
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 1.5rem;
}

.main-nav ul {
    gap: 3rem;
    list-style: none;
}

.logo img,
.logo-footer img {
    max-width: 5rem;
}

.main-nav-sub li, .main-nav-sub li:hover:first-child {
    list-style: none;
    align-self: center;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    justify-content: center;
}
.main-nav-sub li a {
    font-size: 1rem;
}
.main-nav-sub li a:hover {
    color: var(--yellow);
}

.social-media li {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: var(--yellow);
    text-align: right;
    justify-content: center;
}

.fab {
    color: white;
    font-size: 2rem;
    margin-top: 0.6vw;
}

.fab:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* HEADINGS */

.main-header h1 {
    font-size: 5vw;
    color: var(--creamy);
    font-weight: 900;
    grid-column: 1/3;
    grid-row: 3/4;
}

.main-header h3 {
    color: var(--creamy);
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 4/5;
}

.main-header h4 {
    color: var(--red);
    font-weight: 900;
    grid-column: 1/3;
    grid-row: 5/6;
}

.main-header h1, .main-header h3, .main-header h4, .returns h2{
    padding-left: 1.5rem;
}


/* INTRO */
.welcome {
    background-image: url(pictures/Background2.png);
    background-size: cover;
    background-position-y: 100%;
    padding: 2rem 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 0.8fr auto auto 1fr;
}

.welcome h2{
    color: var(--red);
    grid-column: 2/3;
    grid-row: 2/3;
}

.welcome h3{
    color: var(--red);
    grid-column: 2/3;
    grid-row: 3/4;
    padding-bottom: 1rem;
}

.welcome-p1 {
    color: var(--grey);
    font-size: 1vw;
    grid-column: 2/3;
    grid-row: 4/5;
}
  /* OPENING DAY */

.table {
    background-color: var(--red);
    padding: 5rem 0;
}
.opening-day {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 4rem;
}

.column{
    padding: 2rem;
    background-color: var(--brown);
    border-right: 1px solid #8f8a84;
}
.column:last-child {
    border: none;
}
.opening-day article {
    flex-direction: row;
    gap: 1rem;
    padding: 0 1rem 2rem 0;
}

.opening-day img {
    align-self: end;
}

.table h2, 
.table h3,
.table h4 {
    color: var(--creamy);
}
.table h2{
    color:var(--creamy);
    font-size: 3.5vw;
}
.table h3 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 3.3vw;
}
.table h4{
    color: var(--grey);
    font-size: 2.4vw;
}

.column h4 {
    font-size: 1.8vw;
}

.column p {
    color: var(--grey);
    font-size: 1rem;
}
.opening-day h4 {
    color: var(--red);
    font-weight: 900;
}
.cookie {
    vertical-align: middle;
    width:100%;
    height: auto;
    max-width: 2rem;
}
.cookie.a {
    margin-right: 1vw;
  }
  
.cookie.b {
    margin-left: 1vw;
}

.column img {
    max-width: 5rem;
}

/* CHRISTMAS MARKET RETURNS */
.returns {
    background-image: url(pictures/xmas.market.returns.png);
    background-size: cover;
    height: 40vw;
    background-position-y: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.8fr 0.5fr 1fr; 
}
.returns h2 {
    color: var(--creamy);
    grid-column: 1/3;
    grid-row: 5;
}

/* Q&A Christmas market  */
.questions {
    padding: 2rem;
    background-image: url(pictures/updated@2x.png);
    background-size: cover;
    background-position-y: 100%;
    width: 100%;
    height: 85vh;
}

.questions h2{
    padding-bottom: 2rem;
    color: var(--grey);
}
.questions summary {
    font-size: 1.2rem;
    padding: 1rem 0;
    color: var(--red);
    font-weight: 600;
}

.questions details,
.questions details a{
    font-size: 1rem;
    color: var(--grey);
    font-weight: 400;
}

details a:hover {
    font-weight: bold;
}


/* EVENTS */
.events {
    background-color: var(--grey);
    padding: 2rem;
}

.events h2 {
    padding-bottom: 1rem;
    color: var(--creamy);
}

.events-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 1rem;
}

.events-list img {
    max-width: 18rem;
}

.events-list article {
    background-color: var(--creamy);
    flex-direction: column;
    gap: 1rem;
    max-width: 24rem;
    padding: 1rem 2rem;
}

.events-list article h3 {
    font-size: max(1.5rem);
}
.events-list article:hover {
    cursor: pointer;
    transform: scale(1.01);
}
details, summary {
    font-size: 1rem;
}
.events details:hover {
    cursor:pointer;
}

/* FOOTER*/
footer {
    background-image: url(pictures/footer.jpeg);
    background-size: cover;
    width: 100%;
    color: var(--creamy);
    padding: 1rem;
}

footer > div {
    font-size: 1rem;
    font-weight: 600;
}

footer > div > p {
    padding-top: 2rem;
}
footer > div p {
    text-transform: uppercase;
    font-size: 1.5rem;
}
.event-rev p, 
.aalborg-footer p {
    font-size: 0.8rem;
}
.event-rev {
    align-self: flex-end;
}
footer address {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
}

.aalborg-footer {
    align-self:end
}

@media screen and (max-width: 1024px) {

    header{
        height: 100vh;
    }
    h2 {
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.5rem;
    }
    
    .welcome p {
        font-size: 1rem;
    }
    
    .welcome {
        background-image: none;
        background-color: var(--creamy);
    }
    .main-nav-sub {
        align-self: center;
    }
    .table p{
        font-size: 1rem;
    }
    
    .opening-day {
        margin: 0.5rem;
    }
    .main-nav-sub li a {
        font-size: 1.5rem;
    }
    
    .logo {display: none;}
    
    .social-media {
        flex-direction: column;
        justify-self: right;
        padding: 3rem 1.5rem 0 0;
    }
    
    .fab {
        
        padding-top: 0.2rem;
    }
    
    .main-header h1{
        font-size: 4rem;
        align-self: center;
    }
    .main-header h3{
        font-size: 1.8rem;
        grid-column: 1/3;
        grid-row: 3/4;
        align-self: end;
    }
    .main-header h4{
        font-size: 1.3rem;
        grid-row: 4/5;
        align-self: center;
    }
    .questions {
        background-image: none;
        background-color: var(--creamy);
        height: auto;
    }
    footer {
        padding: 0;
    }
    footer h3 {
        text-align: center;
        padding-top: 1rem;
    }
    footer div {
        padding: 2rem 1rem;
        text-align: left;
    }
    
    footer address {
        background-image: none;
        background-color: var(--grey);
        padding: 1rem;
        line-height: 1.7rem;
    }

}
@media  screen and (orientation: landscape) and (max-width: 850px) {
    header{
        height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    
    /* header */
    header{
        height: 100vh;
    }

    #h1 {
        font-size: 2.8rem;
        grid-column: 1/3;
        grid-row: 2/3;
        align-self: end;
    }
    
    .main-header h3 {
        font-size: 1.3rem;
    }
    .main-header h4,
    .main-nav-sub li a,
    .column p,
    .questions h2{
        font-size: 1rem;
    }

    .main-header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.4fr 0.4fr 0.4fr;
    }
    
    .main-header h3,
    .main-header h4 {
        text-transform: uppercase;
        grid-column: 1/3;
        grid-row: 3/4;
        align-self: flex-start;
    }
    .social-media {
        flex-direction: column;
        align-self: flex-start;
        justify-self: right;
        padding: 1.5rem 1.5rem 0 0;
    }
    .main-header h4 {
        align-self: center;
    }
    .fab {
        
        padding-top: 0.1rem;
    }

    .questions {
        background-image: none;
        background-color: var(--creamy);
        height: auto;
    }
    .social-media li {
        width: 2rem;
        height: 2rem;
    }
    .logo{
        display: none;
    }

    .main-nav .logo {
        width: 2rem;
        height: auto;
    }
    .main-nav ul {
        gap: 2rem;
    }
    
    .main-nav-sub {align-self: start;
        justify-self: left;
        flex-direction: column;
        
    }
    /* intro */
    
    .events h2,
    .questions h2,
    .returns h2,
    h3 {
        font-size: 1.2rem;
    }
    .welcome {
        background-image: none;
        background-color: var(--creamy);
        height: 50vh;
        
    }
    .welcome h2{
        font-size: 1.8rem;
    }

    .welcome p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    
    .table,
    .column  {
        padding: 0.5rem;
    }
    
    .table h3,
    .table h4 {
        font-size: 2.1rem;
        padding-bottom: 0.5rem;
    }
    .cookie {
        display: none;
    }
    .table h4,
    .fab {
        font-size: 1.5rem;
    }
    .opening-day {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0.5rem;
    } 
    .events-list {
        grid-template-columns: 1fr;
        grid-template-columns: auto;
    }
    .events-list h3 {
        font-size: 1.3rem;
    }

    .returns {
        height: 40vh;  
    }

    footer {
        padding: 0;
    }
    footer h3 {
        text-align: center;
        padding-top: 1rem;
    }
    footer div {
        padding: 2rem 1rem;
        text-align: left;
    }
    footer address {
        display: block;
        background-image: none;
        background-color: var(--grey);
        padding: 1rem;
        line-height: 1.7rem;
    }

    footer address p {
    font-size: 2rem;
    padding-bottom: 1rem;
    }
}    