* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #e5e3d6;
    display: inline-block;
    font-size: 1vw;
}

h1, h2, h3 {
    text-transform: uppercase;
}


h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.4vw;
}

img {
    max-width: 100%;
  }

header {
    background-image: url(pictures/HEADER.png);
    background-size: cover;
    height: 30vw;
    background-position-y: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.8fr 0.5fr 1fr; 
}

/* NAV */

.main-nav {
    list-style: none;
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 1.5rem;
}

.main-nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}


.main-nav-sub li, .main-nav-sub li:hover:first-child {
    list-style: none;
    align-self: center;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}

.main-nav-sub li:hover {
    border-bottom: 2px solid white;
}

.social-media li {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    background-color: #feca1b;
    text-align: right;
    display: flex;
    justify-content: center;
}

.fab {
    color: white;
    font-size: 2vw;
    margin-top: 0.6vw;
}

.fab:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* HEADINGS */

.main-header h1 {
    font-size: 5vw;
    color: #e5e3d6;
    font-weight: 900;
    grid-column: 1/3;
    grid-row: 3/4;
}

.main-header h3 {
    color: #e5e3d6;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 4/5;
}

.main-header h4 {
    color: #d42f22;
    font-weight: 900;
    grid-column: 1/3;
    grid-row: 5/6;
}

.main-header h1, .main-header h3, .main-header h4, .returns h2, .event-rev {
    padding-left: 1.5rem;
}


/* section 1 */
.welcome {
    background-image: url(pictures/Background2.png);
    background-size: cover;
    height: 25vw;
    background-position-y: 100%;
    width: 100%;
    background-color: #e5e3d6;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 0.8fr auto auto 1fr;
}

.welcome h2{
    color: #d42f22;
    grid-column: 2/3;
    grid-row: 2/3;
}

.welcome h3{
    color: #d42f22;
    grid-column: 2/3;
    grid-row: 3/4;
    padding-bottom: 1rem;
}

.welcome-p1 {
    color: #393632;
    font-size: 1vw;
    grid-column: 2/3;
    grid-row: 4/5;
    
}
/* }

.tree {
    grid-column: 1/2;
    grid-row: 5/7;
    justify-self: right;
    align-self: end;
    
}
.reindeer {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: left;
    padding-left: 10px;
    align-self: end;
}

.candy {
    grid-column: 3/4;
    grid-row: 6/7;
    align-self: end;
}

.cracker {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: right;
    align-self: end;
} */


.table {
    background-color: #d42f22;
    padding: 3rem;
}
.opening-day {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 4rem;
}
.column{
    padding: 2rem;
    background-color: #cc8868;
    border-right: 1px solid #8f8a84;
}
.column:last-child {
    border: none;
}
.opening-day article {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1rem 2rem 0;
}

.opening-day img {
    align-self: end;
}

.table h2, 
.table h3,
.table h4 {
    text-align: center;
    color: #e5e3d6;
}

.table h3 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 2.5vw;
}
.table h4{
    color: #393632
}
.column h4 {
    font-size: 1.8vw;
}

.column p {
    font-size: 1vw;
    text-align: left;
}
.opening-day h4 {
    color: #d42f22;
    font-weight: 900;
    text-align: left;
}

.vl {
    border-left: 0.02px solid #707070;
    height: 470px;
    margin-left: -25px;
    position: absolute;
    top: 1350px;
  }

/* section 3 */
.returns {
    background-image: url(pictures/xmas.market.returns.png);
    background-size: cover;
    height: 40vw;
    background-position-y: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.8fr 0.5fr 1fr; 
}

.returns h2 {
    color: #e5e3d6;
    grid-column: 1/3;
    grid-row: 5;
}

/* footer */
footer {
    background-image: url(pictures/footer.jpeg);
    background-size: cover;
    height: 50vw;
    background-position-y: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr;
    grid-template-rows: 1fr 3.5fr 0.5fr 1fr 0.5fr; 
    color: #e5e3d6;
}

footer address {
    grid-column: 2;
    grid-row: 2;
    place-self: center;
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    font-style: normal;
}

footer .event-rev {
    grid-column: 3;
    grid-row: 4;
    align-self: end;
}

.event-rev p, 
.logo-footer p {
    font-size: 1vw;
}

.logo-footer {
    grid-column: 1;
    grid-row: 4;
    padding-left: 1.5rem;
}